cursor_trail 1
cursor_trail_decay 0.2 0.6
cursor_trail_start_threshold 1
cursor_trail_color #00e0fd
cursor_blink_interval 0.5 ease-in-out
cursor_shape block
cursor_shape_unfocused block
cursor_beam_thickness 2.0
cursor_underline_thickness 3.0
cursor_stop_blinking_after 0.3

background_opacity 0.7
dynamic_background_opacity yes

tab_bar_style     powerline
tab_font_style      bold italic
active_tab_foreground   #7aa2f7
active_tab_background   #1a1b26

scrollback_indicator_show_at_cmd_end yes
scrollback_indicator_amp_width 3.0
scrollback_indicator_opacity 0.9
scrollback_indicator_color_override #7aa2f7@0.8

font_family      JetBrainsMono Nerd Font
font_size        13.0
adjust_line_height  0
adjust_baseline     0
