exec-once = xhost +local:root

# exec-once = $bar
# exec-once = swww-daemon --format xrgb
# exec-once = swww img ~/Pictures/Wallpapers/hyprgirl.png  \
#     --transition-type random                   \
#     --transition-step 255                      \
#     --transition-fps  90                       \
#     --transition-bezier .43,.43,.12,.88    

exec-once = caelestia shell

exec-once = yandex-disk start

exec-once = gsettings set org.gnome.desktop.interface color-scheme prefer-dark
exec-once = gsettings set org.gnome.desktop.interface gtk-theme adw-gtk3-dark