$hypr = ~/.config/hypr
$hl = $hypr/hyprland

# Variables (colours + other vars)
source = $hypr/variables.conf

# Default monitor conf
{{ if eq .chezmoi.hostname "declarch" }}

monitor=DP-3,preferred,3120x0,1
monitor=DP-2,preffered,1200x0,1
monitor=DP-1,preffered,0x-310,1,transform,1
workspace=1,monitor:DP-2
workspace=3,monitor:DP-1
workspace=2,monitor:DP-3

{{ else }}

monitor=,preffered,auto,1

{{ end }}

# Configs
source = $hl/env.conf
source = $hl/general.conf
source = $hl/input.conf
source = $hl/misc.conf
source = $hl/animations.conf
source = $hl/decoration.conf
source = $hl/execs.conf
source = $hl/rules.conf
source = $hl/gestures.conf
source = $hl/keybinds.conf
